
**Quantitative Momentum Strategy**

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.
Library Import

In [4]:
!sudo pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (3.0.3)

In [5]:
import numpy as np 
import pandas as pd 
import requests 
import xlsxwriter 
import math 
from scipy import stats

In [6]:
stocks = pd.read_csv('/content/sp_500_stocks.csv')
stocks= stocks.drop(labels=[135,219,467,484],axis=0)
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[501 rows x 1 columns]

**Acquiring an API Token**

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a *secrets.py *file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

In [7]:
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'


**Making Our First API Call**

It's now time to make the first version of our momentum screener!

We need to get one-year price returns for each stock in the universe. Here's how.

In [8]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'avg10Volume': 77211985,
 'avg30Volume': 76562462,
 'beta': 1.2608701011983872,
 'companyName': 'Apple Inc',
 'day200MovingAvg': 162.52,
 'day30ChangePercent': 0.16961922916250666,
 'day50MovingAvg': 146.21,
 'day5ChangePercent': 0.05359719557811577,
 'dividendYield': 0.006024928331950899,
 'employees': 148043,
 'exDividendDate': '2022-04-26',
 'float': 0,
 'marketcap': 2520206266756,
 'maxChangePercent': 60.362827767164816,
 'month1ChangePercent': 0.1650480821679857,
 'month3ChangePercent': -0.0853232553614053,
 'month6ChangePercent': -0.06835131459191636,
 'nextDividendDate': '',
 'nextEarningsDate': '2022-07-19',
 'peRatio': 25.1259392540525,
 'sharesOutstanding': 16470525103,
 'ttmDividendRate': 0.8901847715258798,
 'ttmEPS': 6.42,
 'week52change': 0.05933556799580005,
 'week52high': 183.8,
 'week52highSplitAdjustOnly': 185.97,
 'week52low': 131.31,
 'week52lowSplitAdjustOnly': 132.47,
 'year1ChangePercent': 0.0540208296943931,
 'year2ChangePercent': 0.5791596094429502,
 'year5ChangePercent': 3.4660023116131047,
 'ytdChangePercent': -0.13581973723331445}


**Parsing Our API Call**

This API call has all the information we need. We can parse it using the same square-bracket notation as in the first project of this course. Here is an example.

In [9]:
data['year1ChangePercent']

0.0540208296943931


**Executing A Batch API Call & Building Our DataFrame**

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

 More specifically, it contains a function called chunks that we can use to divide our list of securities into groups of 100.

In [10]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [11]:
 symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year_Price_Return', 'Number_of_Shares_to_Buy']

A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIV,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,ALXN,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,ANTM,AON,AOS,APA,APD,APH,APTV,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BAX,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BLL,BMY,BR,BRK.B,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDNS,CDW,CE,CERN,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA
CME,CMG,CMI,CMS,CNC,CNP,COF,COG,COO,COP,COST,COTY,CPB,CPRT,CRM,CSCO,CSX,CTAS,CTL,CTSH,CTVA,CTXS,CVS,CVX,CXO,D,DAL,DD,DE,DFS,DG,DGX,DHI,DHR,DIS,DISCK,DISH,DLR,DLTR,DOV,DOW,DPZ,DRE,DRI,DTE,DUK,DVA,DVN,DXC,DXCM,EA,EBAY,ECL,ED,EFX,EIX,EL,EMN,EMR,EOG,EQIX,EQR,ES,ESS,ETFC,ETN,ETR,EVRG,EW,EXC,EXPD,EXPE,EXR,F,FANG,FAST,FB,FBHS,FCX,FDX,FE,FFIV,FIS,FISV,FITB,FLIR,FLS,FLT,FMC,FOX,FOXA,FRC,FRT,FTI,FTNT,FTV,GD,GE,GILD,GIS
GL,GLW,GM,GOOG,GOOGL,GPC,GPN,GPS,GRMN,GS,GWW,HAL,HAS,HBAN,HBI,HCA,HD,HES,HIG,HII,HLT,HOLX,HON,HPE,HPQ,HRB,HRL,HSIC,HST,HSY,HUM,HWM,IBM,ICE,IDXX,IEX,IFF,ILMN,INCY,INFO,INTC,INTU,IP,IPG,IPGP,IQV,IR,IRM,ISRG,IT,ITW,IVZ,J,JBHT,JCI,JKHY,JNJ,JNPR,JPM,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO,KR,KSS,KSU,L,LB,LDOS,LEG,LEN,LH,LHX,LIN,LKQ,LLY,LMT,LNC,LNT,LOW,LRCX,LUV,LVS,LW,LYB,LYV,MA,MAA,MAR,MAS,MCD,MCHP,MCK,MCO
MDLZ,MDT,MET,MGM,MHK,MKC,MKTX,MLM,MMC,MMM,MNST,MO,MOS,MPC,MRK,MRO,MS,MSCI,MSFT,MSI,MTB,MTD,MU,MXIM,MYL,NBL,NCLH,NDAQ,NEE,NEM,NFLX,NI,NKE,NLOK,NLSN,NOC,NOV,NOW,NRG,NSC,NTAP,NTRS,NUE,NVDA,NVR,NWL,NWS,NWSA,O,ODFL,OKE,OMC,ORCL,ORLY,OTIS,OXY,PAYC,PAYX,PBCT,PCAR,PEAK,PEG,PEP,PFE,PFG,PG,PGR,PH,PHM,PKG,PKI,PLD,PM,PNC,PNR,PNW,PPG,PPL,PRGO,PRU,PSA,PSX,PVH,PWR,PXD,PYPL,QCOM,QRVO,RCL,RE,REG,REGN,RF,RHI,RJF,RL,RMD,ROK,ROL,ROP
ROST,RSG,RTX,SBAC,SBUX,SCHW,SEE,SHW,SIVB,SJM,SLB,SLG,SNA,SNPS,SO,SPG,SPGI,SRE,STE,STT,STX,STZ,SWK,SWKS,SYF,SYK,SYY,T,TAP,TDG,TDY,TEL,TFC,TFX,TGT,TIF,TJX,TMO,TMUS,TPR,TROW,TRV,TSCO,TSN,TT,TTWO,TWTR,TXN,TXT,TYL,UA,UAA,UAL,UDR,UHS,ULTA,UNH,UNM,UNP,UPS,URI,USB,V,VAR,VFC,VLO,VMC,VNO,VRSK,VRSN,VRTX,VTR,VZ,WAB,WAT,WBA,WDC,WEC,WELL,WFC,WHR,WM,WMB,WMT,WRB,WRK,WST,WU,WY,WYNN,XEL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION
ZTS

In [12]:
for symbol_string in symbol_strings:
  print(symbol_string)

A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIV,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,ALXN,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,ANTM,AON,AOS,APA,APD,APH,APTV,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BAX,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BLL,BMY,BR,BRK.B,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDNS,CDW,CE,CERN,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA
CME,CMG,CMI,CMS,CNC,CNP,COF,COG,COO,COP,COST,COTY,CPB,CPRT,CRM,CSCO,CSX,CTAS,CTL,CTSH,CTVA,CTXS,CVS,CVX,CXO,D,DAL,DD,DE,DFS,DG,DGX,DHI,DHR,DIS,DISCK,DISH,DLR,DLTR,DOV,DOW,DPZ,DRE,DRI,DTE,DUK,DVA,DVN,DXC,DXCM,EA,EBAY,ECL,ED,EFX,EIX,EL,EMN,EMR,EOG,EQIX,EQR,ES,ESS,ETFC,ETN,ETR,EVRG,EW,EXC,EXPD,EXPE,EXR,F,FANG,FAST,FB,FBHS,FCX,FDX,FE,FFIV,FIS,FISV,FITB,FLIR,FLS,FLT,FMC,FOX,FOXA,FRC,FRT,FTI,FTNT,FTV,GD,GE,GILD,GIS
GL,GLW,GM,GOOG,GOOGL,GPC,GPN,GPS,GRMN,GS,GWW,HAL,HAS,HBAN,HBI,HCA,HD,HES,HIG,HII,HLT,HOLX,HON,HPE,HPQ,HRB,HRL,HSIC,HST,HSY,HUM,HWM,IBM,ICE,IDXX,IEX,IFF,ILMN,INCY,INFO,INTC,INTU,IP,IPG,IPGP,IQV,IR,IRM,ISRG,IT,ITW,IVZ,J,JBHT,JCI,JKHY,JNJ,JNPR,JPM,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO,KR,KSS,KSU,L,LB,LDOS,LEG,LEN,LH,LHX,LIN,LKQ,LLY,LMT,LNC,LNT,LOW,LRCX,LUV,LVS,LW,LYB,LYV,MA,MAA,MAR,MAS,MCD,MCHP,MCK,MCO
MDLZ,MDT,MET,MGM,MHK,MKC,MKTX,MLM,MMC,MMM,MNST,MO,MOS,MPC,MRK,MRO,MS,MSCI,MSFT,MSI,MTB,MTD,MU,MXIM,MYL,NBL,NCLH,NDAQ,NEE,NEM,NFLX,NI,NKE,NLOK,NLSN,NOC,NOV,NOW,NRG,NSC,NTAP,NTRS,NUE,NVDA,NVR,NWL,NWS,NWSA,O,ODFL,OKE,OMC,ORCL,ORLY,OTIS,OXY,PAYC,PAYX,PBCT,PCAR,PEAK,PEG,PEP,PFE,PFG,PG,PGR,PH,PHM,PKG,PKI,PLD,PM,PNC,PNR,PNW,PPG,PPL,PRGO,PRU,PSA,PSX,PVH,PWR,PXD,PYPL,QCOM,QRVO,RCL,RE,REG,REGN,RF,RHI,RJF,RL,RMD,ROK,ROL,ROP
ROST,RSG,RTX,SBAC,SBUX,SCHW,SEE,SHW,SIVB,SJM,SLB,SLG,SNA,SNPS,SO,SPG,SPGI,SRE,STE,STT,STX,STZ,SWK,SWKS,SYF,SYK,SYY,T,TAP,TDG,TDY,TEL,TFC,TFX,TGT,TIF,TJX,TMO,TMUS,TPR,TROW,TRV,TSCO,TSN,TT,TTWO,TWTR,TXN,TXT,TYL,UA,UAA,UAL,UDR,UHS,ULTA,UNH,UNM,UNP,UPS,URI,USB,V,VAR,VFC,VLO,VMC,VNO,VRSK,VRSN,VRTX,VTR,VZ,WAB,WAT,WBA,WDC,WEC,WELL,WFC,WHR,WM,WMB,WMT,WRB,WRK,WST,WU,WY,WYNN,XEL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION
ZTS

In [13]:
 batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
 data = requests.get(batch_api_call_url).json()
 print(data)

{'ZTS': {'stats': {'companyName': 'Zoetis Inc', 'marketcap': 85732726817, 'week52high': 255.37, 'week52low': 160.3, 'week52highSplitAdjustOnly': 253.06, 'week52lowSplitAdjustOnly': 160.88, 'week52change': -0.10547503847936973, 'sharesOutstanding': 477672733, 'float': 0, 'avg10Volume': 1995488, 'avg30Volume': 1898054, 'day200MovingAvg': 187.93, 'day50MovingAvg': 173.3, 'employees': 11411, 'ttmEPS': 4.38, 'ttmDividendRate': 1.27199675592537, 'dividendYield': 0.006969143836883161, 'nextDividendDate': '', 'exDividendDate': '2022-07-07', 'nextEarningsDate': '2022-07-23', 'peRatio': 40.73365811204865, 'beta': 0.9158729049710679, 'maxChangePercent': 5.216651865344247, 'year5ChangePercent': 1.932770705722729, 'year2ChangePercent': 0.22505507399948219, 'year1ChangePercent': -0.118152610827588, 'ytdChangePercent': -0.2747976242896664, 'month6ChangePercent': -0.1287705754374153, 'month3ChangePercent': -0.05989199452578572, 'month1ChangePercent': 0.11584426659939563, 'day30ChangePercent': 0.11464678411412277, 'day5ChangePercent': 0.05455387859310173}, 'quote': {'avgTotalVolume': 1822825, 'calculationPrice': 'close', 'change': 4.55, 'changePercent': 0.02515, 'close': 189.5, 'closeSource': 'fcilaifo', 'closeTime': 1676478123777, 'companyName': 'Zoetis Inc - Class A', 'currency': 'USD', 'delayedPrice': 184.23, 'delayedPriceTime': 1730470300262, 'extendedChange': -0.52, 'extendedChangePercent': -0.00286, 'extendedPrice': 181.28, 'extendedPriceTime': 1710103181722, 'high': 189.5, 'highSource': 'cirauyene5 em1l ddep it', 'highTime': 1670076023988, 'iexAskPrice': 0, 'iexAskSize': 0, 'iexBidPrice': 0, 'iexBidSize': 0, 'iexClose': 186.11, 'iexCloseTime': 1702988533895, 'iexLastUpdated': 1660952344548, 'iexMarketPercent': 0.0603910302392431, 'iexOpen': 176.13, 'iexOpenTime': 1711824701866, 'iexRealtimePrice': 183.7, 'iexRealtimeSize': 1, 'iexVolume': 117114, 'lastTradeTime': 1710511565620, 'latestPrice': 185.3, 'latestSource': 'Close', 'latestTime': 'July 21, 2022', 'latestUpdate': 1723409714427, 'latestVolume': 1891555, 'low': 178.81, 'lowSource': 'aEteiemec rirlIXp  ', 'lowTime': 1736442277634, 'marketCap': 87782189541, 'oddLotDelayedPrice': 187.7, 'oddLotDelayedPriceTime': 1719276849999, 'open': 178.81, 'openTime': 1676517922467, 'openSource': 'cfioailf', 'peRatio': 43.17, 'previousClose': 180.7, 'previousVolume': 1970806, 'primaryExchange': 'CIKNRC . GESW YKNTEOO NAXHEC', 'symbol': 'ZTS', 'volume': 1920893, 'week52High': 250.7, 'week52Low': 153.9, 'ytdChange': -0.2550717621550708, 'isUSMarketOpen': False}}}

In [14]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

 we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [15]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker   Price One-Year Price Return Number of Shares to Buy
0        A  130.51             -0.198966                     N/A
1      AAL   14.73             -0.261323                     N/A
2      AAP  196.25             -0.060372                     N/A
3     AAPL  157.70              0.054733                     N/A
4     ABBV  150.68              0.335121                     N/A
..     ...     ...                   ...                     ...
496    YUM  120.26               0.05932                     N/A
497    ZBH  112.10             -0.304455                     N/A
498   ZBRA  335.75              -0.37879                     N/A
499   ZION   54.90              0.061604                     N/A
500    ZTS  186.40             -0.118028                     N/A

[501 rows x 4 columns]


**Removing Low-Momentum Stocks**

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [16]:
final_dataframe.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(drop = True, inplace = True)
final_dataframe

   Ticker    Price One-Year Price Return Number of Shares to Buy
0      LB    80.49              2.316478                     N/A
1     OXY    65.00              1.542354                     N/A
2     DVN    57.40              1.433149                     N/A
3     MRO    22.28              1.083148                     N/A
4     APA    33.78              1.041966                     N/A
5      CF    86.45              0.867995                     N/A
6     VLO   107.43               0.86313                     N/A
7     MPC    90.51              0.788241                     N/A
8    DLTR   172.51              0.770249                     N/A
9     COP    92.58               0.73083                     N/A
10    MCK   332.47              0.713129                     N/A
11    PXD   214.81              0.704213                     N/A
12    XOM    89.12              0.703554                     N/A
13    MOS    48.76              0.648749                     N/A
14   FANG   119.11              0.636486                     N/A
15    HRB    38.37              0.636087                     N/A
16    EOG   107.91              0.605292                     N/A
17    VAR   181.61              0.592359                     N/A
18    CVX   145.70              0.543561                     N/A
19    PWR   135.62              0.523238                     N/A
20    KSU   294.50              0.522838                     N/A
21    HAL    29.21              0.484659                     N/A
22   VRTX   293.57              0.472406                     N/A
23    HES   105.40              0.436286                     N/A
24    LLY   335.92              0.401991                     N/A
25    AZO  2202.59               0.37915                     N/A
26    WMB    33.84              0.374237                     N/A
27    EXC    44.32              0.359016                     N/A
28    COG    23.28              0.340733                     N/A
29    BKR    25.95              0.335632                     N/A
30   ABBV   150.68              0.335121                     N/A
31    ADM    76.14              0.317423                     N/A
32   CTVA    56.36              0.316081                     N/A
33    NUE   129.57              0.307752                     N/A
34    NOC   468.60              0.294465                     N/A
35    PSX    87.37              0.290314                     N/A
36    PFE    51.59              0.290085                     N/A
37     ED    91.40              0.288167                     N/A
38   ANTM   492.03              0.286728                     N/A
39    UNH   524.00              0.286094                     N/A
40    WRB    66.84              0.283012                     N/A
41    UNM    32.97              0.273349                     N/A
42    SLB    34.60              0.272645                     N/A
43    GIS    74.80               0.26968                     N/A
44   COST   540.76              0.268174                     N/A
45    CNC    94.66              0.267474                     N/A
46    CMA    81.51              0.259409                     N/A
47    MTB   171.37              0.254149                     N/A
48    SYY    88.67              0.252031                     N/A
49    ABC   145.40              0.241235                     N/A


**Calculating the Number of Shares to Buy**

 we now need to calculate the number of shares we need to buy. The one change we're going to make is wrapping this functionality inside a function, since we'll be using it again later in this Notebook.

In [17]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

portfolio_input()
print(portfolio_size)

Enter the value of your portfolio:100000
100000

In [18]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

   Ticker    Price One-Year Price Return Number of Shares to Buy
0      LB    80.49              2.316478                      24
1     OXY    65.00              1.542354                      30
2     DVN    57.40              1.433149                      34
3     MRO    22.28              1.083148                      89
4     APA    33.78              1.041966                      59
5      CF    86.45              0.867995                      23
6     VLO   107.43               0.86313                      18
7     MPC    90.51              0.788241                      22
8    DLTR   172.51              0.770249                      11
9     COP    92.58               0.73083                      21
10    MCK   332.47              0.713129                       6
11    PXD   214.81              0.704213                       9
12    XOM    89.12              0.703554                      22
13    MOS    48.76              0.648749                      41
14   FANG   119.11              0.636486                      16
15    HRB    38.37              0.636087                      52
16    EOG   107.91              0.605292                      18
17    VAR   181.61              0.592359                      11
18    CVX   145.70              0.543561                      13
19    PWR   135.62              0.523238                      14
20    KSU   294.50              0.522838                       6
21    HAL    29.21              0.484659                      68
22   VRTX   293.57              0.472406                       6
23    HES   105.40              0.436286                      18
24    LLY   335.92              0.401991                       5
25    AZO  2202.59               0.37915                       0
26    WMB    33.84              0.374237                      59
27    EXC    44.32              0.359016                      45
28    COG    23.28              0.340733                      85
29    BKR    25.95              0.335632                      77
30   ABBV   150.68              0.335121                      13
31    ADM    76.14              0.317423                      26
32   CTVA    56.36              0.316081                      35
33    NUE   129.57              0.307752                      15
34    NOC   468.60              0.294465                       4
35    PSX    87.37              0.290314                      22
36    PFE    51.59              0.290085                      38
37     ED    91.40              0.288167                      21
38   ANTM   492.03              0.286728                       4
39    UNH   524.00              0.286094                       3
40    WRB    66.84              0.283012                      29
41    UNM    32.97              0.273349                      60
42    SLB    34.60              0.272645                      57
43    GIS    74.80               0.26968                      26
44   COST   540.76              0.268174                       3
45    CNC    94.66              0.267474                      21
46    CMA    81.51              0.259409                      24
47    MTB   171.37              0.254149                      11
48    SYY    88.67              0.252031                      22
49    ABC   145.40              0.241235                      13


Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

    High-quality momentum stocks show "slow and steady" outperformance over long periods of time
    Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of:

    1-month price returns
    3-month price returns
    6-month price returns
    1-year price returns

Let's start by building our DataFrame. You'll notice that I use the abbreviation hqm often. It stands for high-quality momentum.

In [19]:
hqm_columns = [
                'Ticker', 
                'Price', 
                'Number of Shares to Buy', 
                'One-Year Price Return', 
                'One-Year Return Percentile',
                'Six-Month Price Return',
                'Six-Month Return Percentile',
                'Three-Month Price Return',
                'Three-Month Return Percentile',
                'One-Month Price Return',
                'One-Month Return Percentile',
                'HQM Score'
                ]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        hqm_dataframe = hqm_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   'N/A',
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month6ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month3ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month1ChangePercent'],
                                                   'N/A',
                                                   'N/A'
                                                   ], 
                                                  index = hqm_columns), 
                                        ignore_index = True)
        
hqm_dataframe.columns

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'One-Year Price Return',
       'One-Year Return Percentile', 'Six-Month Price Return',
       'Six-Month Return Percentile', 'Three-Month Price Return',
       'Three-Month Return Percentile', 'One-Month Price Return',
       'One-Month Return Percentile', 'HQM Score'],
      dtype='object')


**Calculating Momentum Percentiles**

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

    One-Year Price Return
    Six-Month Price Return
    Three-Month Price Return
    One-Month Price Return

Here's how we'll do this:

In [20]:
time_periods = [
                'One-Year',
                'Six-Month',
                'Three-Month',
                'One-Month'
                ]

for row in hqm_dataframe.index:
    for time_period in time_periods:
        if hqm_dataframe.loc[row, f'{time_period} Price Return'] == None:
            hqm_dataframe.loc[row, f'{time_period} Price Return'] = 0

In [21]:
for row in hqm_dataframe.index:
    for time_period in time_periods:
      
            hqm_dataframe.loc[row, f'{time_period} Return Percentile'] = stats.percentileofscore(hqm_dataframe[f'{time_period} Price Return'], hqm_dataframe.loc[row, f'{time_period} Price Return'])/100

In [22]:
for time_period in time_periods:
    print(hqm_dataframe[f'{time_period} Return Percentile'])

#Print the entire DataFrame    
hqm_dataframe

0      0.245509
1      0.147705
2      0.500998
3      0.718563
4       0.94012
         ...
496    0.730539
497    0.107784
498    0.051896
499    0.736527
500    0.391218
Name: One-Year Return Percentile, Length: 501, dtype: object
0      0.383234
1      0.489022
2      0.363273
3      0.572854
4      0.918164
         ...
496    0.700599
497    0.433134
498    0.035928
499    0.287425
500    0.423154
Name: Six-Month Return Percentile, Length: 501, dtype: object
0      0.656687
1      0.121756
2      0.333333
3      0.620758
4      0.736527
         ...
496    0.770459
497    0.179641
498    0.219561
499    0.221557
500    0.702595
Name: Three-Month Return Percentile, Length: 501, dtype: object
0      0.487026
1      0.958084
2       0.91018
3      0.936128
4      0.572854
         ...
496    0.712575
497     0.39521
498    0.824351
499    0.209581
500    0.762475
Name: One-Month Return Percentile, Length: 501, dtype: object

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,128.19,N/A,-0.196633,0.245509,-0.143033,0.383234,-0.074891,0.656687,0.06856,0.487026,N/A
1,AAL,14.48,N/A,-0.268729,0.147705,-0.094926,0.489022,-0.225621,0.121756,0.177568,0.958084,N/A
2,AAP,196.75,N/A,-0.060817,0.500998,-0.148581,0.363273,-0.153707,0.333333,0.151978,0.91018,N/A
3,AAPL,161.08,N/A,0.053355,0.718563,-0.069745,0.572854,-0.084727,0.620758,0.163691,0.936128,N/A
4,ABBV,152.97,N/A,0.328292,0.94012,0.13168,0.918164,-0.050768,0.736527,0.081029,0.572854,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
496,YUM,121.16,N/A,0.059692,0.730539,-0.013355,0.700599,-0.035829,0.770459,0.103541,0.712575,N/A
497,ZBH,113.40,N/A,-0.302313,0.107784,-0.120813,0.433134,-0.200598,0.179641,0.056602,0.39521,N/A
498,ZBRA,348.72,N/A,-0.380022,0.051896,-0.358524,0.035928,-0.183775,0.219561,0.129089,0.824351,N/A
499,ZION,53.74,N/A,0.06156,0.736527,-0.172235,0.287425,-0.18327,0.221557,0.019374,0.209581,N/A
500,ZTS,186.20,N/A,-0.115205,0.391218,-0.126491,0.423154,-0.060857,0.702595,0.113668,0.762475,N/A


**Calculating the HQM Score**

We'll now calculate our HQM Score, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The HQM Score will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [23]:
from statistics import mean

for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)


**Selecting the 50 Best Momentum Stocks**

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the HQM Score column and dropping all but the top 50 entries.

In [24]:
hqm_dataframe.sort_values(by = 'HQM Score', ascending = False)
hqm_dataframe = hqm_dataframe[:51]
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,128.19,N/A,-0.196633,0.245509,-0.143033,0.383234,-0.074891,0.656687,0.06856,0.487026,0.443114
1,AAL,14.48,N/A,-0.268729,0.147705,-0.094926,0.489022,-0.225621,0.121756,0.177568,0.958084,0.429142
2,AAP,196.75,N/A,-0.060817,0.500998,-0.148581,0.363273,-0.153707,0.333333,0.151978,0.91018,0.526946
3,AAPL,161.08,N/A,0.053355,0.718563,-0.069745,0.572854,-0.084727,0.620758,0.163691,0.936128,0.712076
4,ABBV,152.97,N/A,0.328292,0.94012,0.13168,0.918164,-0.050768,0.736527,0.081029,0.572854,0.791916
5,ABC,143.02,N/A,0.232511,0.902196,0.074051,0.864271,-0.145617,0.367265,0.005976,0.161677,0.573852
6,ABMD,285.45,N/A,-0.153323,0.315369,-0.089704,0.500998,-0.158771,0.307385,0.209102,0.98004,0.525948
7,ABT,115.13,N/A,-0.07705,0.477046,-0.130106,0.413174,-0.118563,0.487026,0.062812,0.443114,0.45509
8,ACN,300.73,N/A,-0.088407,0.451098,-0.173763,0.277445,-0.128059,0.43513,0.02653,0.231537,0.348802
9,ADBE,429.17,N/A,-0.350315,0.06986,-0.216416,0.205589,-0.063116,0.688623,0.115718,0.772455,0.434132
10,ADI,171.60,N/A,0.03251,0.682635,0.039847,0.814371,0.015981,0.906188,0.12987,0.832335,0.808882
11,ADM,76.37,N/A,0.325591,0.938124,0.09386,0.894212,-0.242219,0.105788,-0.037212,0.053892,0.498004
12,ADP,227.77,N/A,0.086943,0.768463,-0.009855,0.706587,-0.067718,0.680639,0.082034,0.580838,0.684132
13,ADSK,207.30,N/A,-0.337125,0.081836,-0.226717,0.189621,-0.027623,0.792415,0.177871,0.96008,0.505988
14,AEE,89.07,N/A,0.044168,0.714571,-0.010777,0.704591,-0.126232,0.44511,0.056049,0.391218,0.563872
15,AEP,96.04,N/A,0.122075,0.810379,0.049914,0.832335,-0.094174,0.576846,0.04868,0.343313,0.640719
16,AES,20.04,N/A,-0.154716,0.311377,-0.134325,0.401198,-0.195633,0.191617,0.039754,0.313373,0.304391
17,AFL,56.40,N/A,0.058674,0.728543,-0.10694,0.459082,-0.17794,0.241517,0.031846,0.269461,0.424651
18,AIG,53.26,N/A,0.121045,0.808383,-0.118575,0.437126,-0.195691,0.189621,0.001223,0.143713,0.394711
19,AIV,7.71,N/A,0.077623,0.758483,0.070416,0.862275,0.054648,0.97006,0.270967,1.0,0.897705
20,AIZ,170.30,N/A,0.109312,0.794411,0.13943,0.926148,-0.127815,0.439122,-0.008486,0.0998,0.56487
21,AJG,174.50,N/A,0.221686,0.896208,0.078866,0.870259,-0.095475,0.566866,0.116333,0.776447,0.777445
22,AKAM,95.36,N/A,-0.241411,0.179641,-0.211098,0.215569,-0.275013,0.061876,0.003016,0.157685,0.153693
23,ALB,234.90,N/A,0.183363,0.870259,0.01484,0.780439,0.012384,0.894212,0.035621,0.289421,0.708583
24,ALGN,293.28,N/A,-0.573022,0.00998,-0.457847,0.015968,-0.357695,0.02994,0.17201,0.9501,0.251497
25,ALK,44.06,N/A,-0.219723,0.225549,-0.201742,0.235529,-0.273449,0.063872,0.075959,0.54491,0.267465
26,ALL,119.60,N/A,-0.017565,0.560878,0.039316,0.812375,-0.146616,0.357285,0.015307,0.195609,0.481537
27,ALLE,105.69,N/A,-0.273609,0.137725,-0.158078,0.325349,-0.09516,0.570858,0.062556,0.43513,0.367265
28,ALXN,183.00,N/A,0.0,0.616766,0.0,0.738523,0.0,0.858283,0.0,0.129741,0.585828
29,AMAT,108.82,N/A,-0.223321,0.215569,-0.273716,0.095808,-0.136402,0.389222,0.143793,0.886228,0.396707
30,AMCR,12.82,N/A,0.130324,0.822355,0.040076,0.816367,0.050253,0.966068,0.065218,0.463074,0.766966
31,AMD,93.73,N/A,0.02769,0.672655,-0.278749,0.083832,-0.049049,0.740519,0.097202,0.676647,0.543413
32,AME,120.74,N/A,-0.166794,0.293413,-0.171262,0.291417,-0.138042,0.379242,0.064703,0.45509,0.35479
33,AMGN,257.16,N/A,0.032697,0.684631,0.098805,0.896208,-0.027492,0.794411,0.052878,0.371257,0.686627
34,AMP,250.37,N/A,0.000682,0.628743,-0.221628,0.197605,-0.192418,0.203593,0.029689,0.255489,0.321357
35,AMT,255.70,N/A,-0.101823,0.421158,0.027298,0.800399,-0.062543,0.692615,0.058929,0.407186,0.580339
36,AMZN,125.69,N/A,-0.328408,0.08982,-0.19759,0.243513,-0.211031,0.151697,0.159145,0.932136,0.354291
37,ANET,108.49,N/A,0.160953,0.850299,-0.144023,0.377246,-0.179705,0.239521,0.158024,0.928144,0.598802
38,ANSS,263.20,N/A,-0.279284,0.133733,-0.232285,0.171657,-0.123179,0.461078,0.105609,0.718563,0.371257
39,ANTM,505.39,N/A,0.288759,0.93014,0.056296,0.844311,0.006663,0.888224,-0.073996,0.017964,0.67016
40,AON,280.90,N/A,0.218787,0.892216,0.02293,0.792415,-0.175142,0.247505,0.093968,0.648703,0.64521
41,AOS,60.84,N/A,-0.164941,0.299401,-0.262845,0.10978,-0.125095,0.45509,0.090735,0.632735,0.374251
42,APA,34.75,N/A,1.044914,0.992016,0.125722,0.912176,-0.208775,0.157685,-0.110773,0.011976,0.518463
43,APD,244.67,N/A,-0.177149,0.269461,-0.189758,0.257485,-0.062741,0.690619,-0.012025,0.093812,0.327844
44,APH,72.35,N/A,0.01197,0.654691,-0.116334,0.447106,-0.050228,0.738523,0.095453,0.664671,0.626248
45,APTV,103.96,N/A,-0.374524,0.057884,-0.309438,0.061876,-0.114147,0.497006,0.13596,0.856287,0.368263
46,ARE,151.68,N/A,-0.225558,0.207585,-0.248987,0.137725,-0.269833,0.067864,0.134518,0.850299,0.315868
47,ATO,117.82,N/A,0.123318,0.812375,0.064561,0.854291,-0.089901,0.592814,0.083047,0.586826,0.711577
48,ATVI,80.13,N/A,-0.131727,0.347305,-0.025501,0.676647,0.004975,0.884232,0.063015,0.44511,0.588323
49,AVB,199.13,N/A,-0.12954,0.349301,-0.194401,0.247505,-0.226774,0.117764,0.02836,0.243513,0.239521
50,AVGO,522.31,N/A,0.117862,0.804391,-0.061837,0.592814,-0.14866,0.347305,0.027477,0.239521,0.496008


**Calculating the Number of Shares to buy**

We'll use the portfolio_input function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

In [25]:
portfolio_input()

Enter the value of your portfolio:1000000

In [26]:
position_size = float(portfolio_size) / len(hqm_dataframe.index)
for i in range(0, len(hqm_dataframe['Ticker'])-1):
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / hqm_dataframe['Price'][i])
hqm_dataframe

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,128.19,152,-0.196633,0.245509,-0.143033,0.383234,-0.074891,0.656687,0.06856,0.487026,0.443114
1,AAL,14.48,1354,-0.268729,0.147705,-0.094926,0.489022,-0.225621,0.121756,0.177568,0.958084,0.429142
2,AAP,196.75,99,-0.060817,0.500998,-0.148581,0.363273,-0.153707,0.333333,0.151978,0.91018,0.526946
3,AAPL,161.08,121,0.053355,0.718563,-0.069745,0.572854,-0.084727,0.620758,0.163691,0.936128,0.712076
4,ABBV,152.97,128,0.328292,0.94012,0.13168,0.918164,-0.050768,0.736527,0.081029,0.572854,0.791916
5,ABC,143.02,137,0.232511,0.902196,0.074051,0.864271,-0.145617,0.367265,0.005976,0.161677,0.573852
6,ABMD,285.45,68,-0.153323,0.315369,-0.089704,0.500998,-0.158771,0.307385,0.209102,0.98004,0.525948
7,ABT,115.13,170,-0.07705,0.477046,-0.130106,0.413174,-0.118563,0.487026,0.062812,0.443114,0.45509
8,ACN,300.73,65,-0.088407,0.451098,-0.173763,0.277445,-0.128059,0.43513,0.02653,0.231537,0.348802
9,ADBE,429.17,45,-0.350315,0.06986,-0.216416,0.205589,-0.063116,0.688623,0.115718,0.772455,0.434132
10,ADI,171.60,114,0.03251,0.682635,0.039847,0.814371,0.015981,0.906188,0.12987,0.832335,0.808882
11,ADM,76.37,256,0.325591,0.938124,0.09386,0.894212,-0.242219,0.105788,-0.037212,0.053892,0.498004
12,ADP,227.77,86,0.086943,0.768463,-0.009855,0.706587,-0.067718,0.680639,0.082034,0.580838,0.684132
13,ADSK,207.30,94,-0.337125,0.081836,-0.226717,0.189621,-0.027623,0.792415,0.177871,0.96008,0.505988
14,AEE,89.07,220,0.044168,0.714571,-0.010777,0.704591,-0.126232,0.44511,0.056049,0.391218,0.563872
15,AEP,96.04,204,0.122075,0.810379,0.049914,0.832335,-0.094174,0.576846,0.04868,0.343313,0.640719
16,AES,20.04,978,-0.154716,0.311377,-0.134325,0.401198,-0.195633,0.191617,0.039754,0.313373,0.304391
17,AFL,56.40,347,0.058674,0.728543,-0.10694,0.459082,-0.17794,0.241517,0.031846,0.269461,0.424651
18,AIG,53.26,368,0.121045,0.808383,-0.118575,0.437126,-0.195691,0.189621,0.001223,0.143713,0.394711
19,AIV,7.71,2543,0.077623,0.758483,0.070416,0.862275,0.054648,0.97006,0.270967,1.0,0.897705
20,AIZ,170.30,115,0.109312,0.794411,0.13943,0.926148,-0.127815,0.439122,-0.008486,0.0998,0.56487
21,AJG,174.50,112,0.221686,0.896208,0.078866,0.870259,-0.095475,0.566866,0.116333,0.776447,0.777445
22,AKAM,95.36,205,-0.241411,0.179641,-0.211098,0.215569,-0.275013,0.061876,0.003016,0.157685,0.153693
23,ALB,234.90,83,0.183363,0.870259,0.01484,0.780439,0.012384,0.894212,0.035621,0.289421,0.708583
24,ALGN,293.28,66,-0.573022,0.00998,-0.457847,0.015968,-0.357695,0.02994,0.17201,0.9501,0.251497
25,ALK,44.06,445,-0.219723,0.225549,-0.201742,0.235529,-0.273449,0.063872,0.075959,0.54491,0.267465
26,ALL,119.60,163,-0.017565,0.560878,0.039316,0.812375,-0.146616,0.357285,0.015307,0.195609,0.481537
27,ALLE,105.69,185,-0.273609,0.137725,-0.158078,0.325349,-0.09516,0.570858,0.062556,0.43513,0.367265
28,ALXN,183.00,107,0.0,0.616766,0.0,0.738523,0.0,0.858283,0.0,0.129741,0.585828
29,AMAT,108.82,180,-0.223321,0.215569,-0.273716,0.095808,-0.136402,0.389222,0.143793,0.886228,0.396707
30,AMCR,12.82,1529,0.130324,0.822355,0.040076,0.816367,0.050253,0.966068,0.065218,0.463074,0.766966
31,AMD,93.73,209,0.02769,0.672655,-0.278749,0.083832,-0.049049,0.740519,0.097202,0.676647,0.543413
32,AME,120.74,162,-0.166794,0.293413,-0.171262,0.291417,-0.138042,0.379242,0.064703,0.45509,0.35479
33,AMGN,257.16,76,0.032697,0.684631,0.098805,0.896208,-0.027492,0.794411,0.052878,0.371257,0.686627
34,AMP,250.37,78,0.000682,0.628743,-0.221628,0.197605,-0.192418,0.203593,0.029689,0.255489,0.321357
35,AMT,255.70,76,-0.101823,0.421158,0.027298,0.800399,-0.062543,0.692615,0.058929,0.407186,0.580339
36,AMZN,125.69,156,-0.328408,0.08982,-0.19759,0.243513,-0.211031,0.151697,0.159145,0.932136,0.354291
37,ANET,108.49,180,0.160953,0.850299,-0.144023,0.377246,-0.179705,0.239521,0.158024,0.928144,0.598802
38,ANSS,263.20,74,-0.279284,0.133733,-0.232285,0.171657,-0.123179,0.461078,0.105609,0.718563,0.371257
39,ANTM,505.39,38,0.288759,0.93014,0.056296,0.844311,0.006663,0.888224,-0.073996,0.017964,0.67016
40,AON,280.90,69,0.218787,0.892216,0.02293,0.792415,-0.175142,0.247505,0.093968,0.648703,0.64521
41,AOS,60.84,322,-0.164941,0.299401,-0.262845,0.10978,-0.125095,0.45509,0.090735,0.632735,0.374251
42,APA,34.75,564,1.044914,0.992016,0.125722,0.912176,-0.208775,0.157685,-0.110773,0.011976,0.518463
43,APD,244.67,80,-0.177149,0.269461,-0.189758,0.257485,-0.062741,0.690619,-0.012025,0.093812,0.327844
44,APH,72.35,271,0.01197,0.654691,-0.116334,0.447106,-0.050228,0.738523,0.095453,0.664671,0.626248
45,APTV,103.96,188,-0.374524,0.057884,-0.309438,0.061876,-0.114147,0.497006,0.13596,0.856287,0.368263
46,ARE,151.68,129,-0.225558,0.207585,-0.248987,0.137725,-0.269833,0.067864,0.134518,0.850299,0.315868
47,ATO,117.82,166,0.123318,0.812375,0.064561,0.854291,-0.089901,0.592814,0.083047,0.586826,0.711577
48,ATVI,80.13,244,-0.131727,0.347305,-0.025501,0.676647,0.004975,0.884232,0.063015,0.44511,0.588323
49,AVB,199.13,98,-0.12954,0.349301,-0.194401,0.247505,-0.226774,0.117764,0.02836,0.243513,0.239521
50,AVGO,522.31,N/A,0.117862,0.804391,-0.061837,0.592814,-0.14866,0.347305,0.027477,0.239521,0.496008


**Formatting Our Excel Output**

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization.

In [27]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index = False)


**Creating the Formats We'll Need For Our .xlsx File**

 We'll need four main formats for our Excel document:

    String format for tickers
    $XX.XX format for stock prices
    $XX,XXX format for market capitalization
    Integer format for the number of shares to purchase

In [28]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [29]:
column_formats = { 
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['One-Year Price Return', percent_template],
                    'E': ['One-Year Return Percentile', percent_template],
                    'F': ['Six-Month Price Return', percent_template],
                    'G': ['Six-Month Return Percentile', percent_template],
                    'H': ['Three-Month Price Return', percent_template],
                    'I': ['Three-Month Return Percentile', percent_template],
                    'J': ['One-Month Price Return', percent_template],
                    'K': ['One-Month Return Percentile', percent_template],
                    'L': ['HQM Score', integer_template]
                    }

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], string_template)

**Saving Our Excel Output**

In [30]:
writer.save()